* {
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.musicBox {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  background: linear-gradient(to right, #5d6d7e, #566573);
  overflow-x: hidden;
}

.musicBox .picVolumeBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.musicBox .picVolumeBox div:nth-child(1) {
  display: flex;
  height: 4rem;
  align-items: center;
  justify-content: left;
  width: 100%;
  color: linen;
  font-size: 1.6rem;
  margin-left: 3rem;
}

.musicBox .picVolumeBox div:nth-child(1) span {
  margin-left: 1rem;
}

.musicBox .picVolumeBox .picBox {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.musicBox .picVolumeBox .picBox img {
  width: 75%;
  text-align: center;
  border-radius: 15px;
  box-shadow: 1px 0px 20px 12px rgba(240, 240, 240, 0.2);
}

.musicBox .picVolumeBox .volumeBox {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.musicBox .picVolumeBox .volumeBox p {
  font-size: 1rem;
}

.musicBox .picVolumeBox .volumeBox i {
  cursor: pointer;
  padding: 0.5rem 0.6rem;
  background: #ff8a65;
}

.musicBox .picVolumeBox .volumeBox i:hover {
  background: rgba(245, 245, 245, 0.1);
}

.musicBox .picVolumeBox .volumeBox #volume_show {
  padding: 0.35rem 0.6rem;
  margin: 0 5px 0 0;
  background: rgba(245, 245, 245, 0.1);
}

input[type="range"] {
  -webkit-appearance: none;
  width: 50%;
  outline: none;
  height: 2px;
  margin: 0 15px;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background: #ff8a65;
  border-radius: 50%;
  cursor: pointer;
}
.duration input[type="range"] {
  width: 40%;
}

.musicBox .titleButtonRangeBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.musicBox .titleButtonRangeBox .orderBox {
  display: flex;
  padding: 0.6rem 0.8rem;
  border-radius: 5px;
  margin: 0.5rem;
  justify-content: flex-end;
  align-items: center;
  width: fit-content;
  background: #798590;
  color: white;
}

.musicBox .titleButtonRangeBox .titleSingerBox {
  width: 100%;
  flex: 1 1 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.musicBox .titleButtonRangeBox .titleSingerBox #musicTitle {
  font-size: 3rem;
}

.musicBox .titleButtonRangeBox .titleSingerBox #musicSinger {
  font-size: 1.5rem;
}

.musicBox .titleButtonRangeBox .buttonBox {
  width: 100%;
  flex: 1 1 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.musicBox .titleButtonRangeBox .buttonBox button {
  width: 5rem;
  height: 5rem;
  font-size: 2rem;
  border-radius: 50%;
  margin: 0 1rem;
  background: #798591;
  border: none;
  color: white;
  cursor: pointer;
}

.musicBox .titleButtonRangeBox .buttonBox button:hover {
  background: #ff8a65;
}

.musicBox .titleButtonRangeBox .buttonBox button:nth-child(2) {
  background: #ff8a65;
}

.musicBox .titleButtonRangeBox .autoPlayBox {
  width: 100%;
  flex: 1 1 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.musicBox .titleButtonRangeBox .autoPlayBox #autoPlay {
  padding: 1rem 1.8rem;
  font-size: 1.2rem;
  background: #798591;
  border: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.musicBox .titleButtonRangeBox .duration {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 4rem;
}
